html{
  scroll-behavior: smooth;
}


h1, h2, h3, p, ul {
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
  font-family: 'Open Sans Condensed', sans-serif;
}


a {
  color: black;
}

a:hover{
  text-decoration: none;
  color: #000000c7;
  border-bottom: 2px solid currentColor;
}

p {
  padding-top: 20px;
}


.my-frame{
  position: relative;
  z-index: 0;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 49px;
  height: 24px;
  top:13px;
  left: 94%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;

  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#2d2d2b;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


p {
  font-size: 20px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  line-height: 30px;
}

.p-title{
  text-align: center;
}


 img.resume{
 border: 3px solid black;
 max-width: 100%;
 height:auto;
}

.important-text{
  color: #da552f;
}


.resume-container{
  text-align: center;
}


button.btn{
  max-width:100%;
}

img.banner {
  height: auto;
  max-width: 100%;
  width: 10%;
  border-radius: 50%;
  border: solid black 3px;
  margin-top: 10px;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero p{
  margin-left:10px;
}

.email-button{
  position: absolute;
  top: 230px;
  left: -64px;
  z-index: 2;
  transition: background-color, .4s;
}

.email-button:hover{
  background-color: #da552f;
  border-color:#da552f;
}

form{
text-align: left;
 margin-left: 32%;
}

input[type=text]{
  width: 52%;
  padding: 8px;
  border-radius: 4px;
}

textarea{
  width: 52%;
  padding: 10px;
  border-radius: 4px;
  max-width: 100%;
}

label.message{
  margin-top: 9px;
}

button[type=submit]{
  width: 52%;
  padding: 10px;
  margin-top: 6px;
  background-color: #da552f;
  font-size: 16px;
  transition: background-color, .4s;
  border-radius: 4px;
  border: solid .5px #da552f;
  color: white;
}

button[type=submit]:hover{
  background-color: #449D44;
  color: white;
}


.section-title h2{
  text-align: left;
  margin: 50px;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  -webkit-box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  z-index: 1;
}
/*footer*/

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  margin-top: 100px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/* Main navbar */
.navigation {
 display: flex;
 top: 0;
 background-color: #f7f5f5;
 font-family: 'Open Sans Condensed', sans-serif;
 z-index: 1;
 padding: 0px 30px;
 width:100%;
 margin:0;
 padding: 0;
 position: sticky !important;
 align-items: center;

}

.navigation ul li:nth-child(6){
 font-size: 30px;
 margin-left: 369px;
 /*position: absolute;
 left: 70%;*/

}

.navigation li{
  margin-right: 12px;
  cursor: pointer;
  font-size: 27px;
}

.navigation p {
  position: relative;
  right: 238%;
  font-size: 22px;
}

.navigation ul{
  height: 45px;
  list-style: none !important;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.grid-card{
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 2rem;
}

.profil img {
  width: 400px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.new-relic {
  margin-top: 6rem;
}

button.btn{
  font-size: 20px;
  color: white;
  background-color: #449D44;
  transition-property: background-color;
}

button.btn:hover{
  color: white;
  background-color:#da552f;
  transition: background-color .3s;
}


.project-status{
  color: green;
  font-size: 16px;

}

@media only screen and (max-width: 500px){

  .video-container{
    height: 0;
    position:relative;
    padding-bottom:56.25%;
    margin-top: 20px;
  }

  .banner img{
    height: auto;
  }

  .currently-learning{
    height: 8%;
    width: 92%;
  }


  .video-container iframe{
    max-width:100%;
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    top: 0;
  }
  .structure-one{
    max-width: 100%;
    height: auto;

  }

  .section-title h2 {
    text-align: center;
  }


  .p-title{
    display: none;
  }
  .navigation li{
    display:none;
  }
  .navigation li:nth-child(6n){
    position: absolute;
    right: 86px;
  }
}





