h1, h2, h3, p, ul {
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
  font-family: 'Open Sans Condensed', sans-serif;
}


a {
  color: black;
}

a:hover{
  text-decoration: none;
  color: #000000c7;
  border-bottom: 2px solid currentColor;
}

p {
  padding-top: 20px;
}

.banner {
  color: white;
  text-align: center;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
}

.my-frame{
  position: relative;
  z-index: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 24px;
  top:13px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;

  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#2d2d2b;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.video-controls ul{
  display:flex;
  justify-content: space-around;
  color: #da552f;
  margin-top: 10px;
}

.video-controls li{
  font-weight: bold;
  list-style: none;
  font-size: 1.3em;
}

p {
  font-size: 20px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  line-height: 30px;
}

.p-title{
  text-align: center;
}

.banner-content{
  position: absolute;
  z-index: 0;
}

.banner img {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.banner h1 {
  font-size: 82px;
  font-weight: bold;
  color:#ffff;
  text-shadow: 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top:-306px;
  position: absolute;
  white-space: nowrap;
  left:-250px;
  /* font-family: 'Anton', sans-serif;*/
}

.banner p {
  font-size: 40px;
  font-weight: lighter;

  opacity: 0.8;
  margin-bottom: 30px;
  position: absolute;
  z-index: 2;
  color: #ffff;
  white-space: nowrap;
  top: 150px;
  left: -105px;
}

.currently-learning{
  position: absolute;
  z-index: 2;
  width: 32.5%;
  height: 21%;
  background-color: black;
  opacity: 0.6;
  bottom: 0px;
  right: 14px;
}

.currently-learning::before{
  content: "learning";
  color: white;
  color: #ececec;
  font-size: 105px;
}

.email-button{
  position: absolute;
  top: 230px;
  left: -64px;
  z-index: 2;
  transition: background-color, .4s;
}

.email-button:hover{
  background-color: #da552f;
  border-color:#da552f;
}

.section-title h2{
  text-align: left;
  margin: 50px;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  -webkit-box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  z-index: 1;
}
/*footer*/

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  margin-top: 100px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/* Main navbar */
.navigation {
 display: flex;
 top: 0;
 background-color: #f7f5f5;
 font-family: 'Open Sans Condensed', sans-serif;
 z-index: 1;
 padding: 0px 30px;
 width:100%;
 margin:0;
 padding: 0;
 position: sticky !important;
 align-items: center;

}

.navigation ul li:nth-child(5){
 font-size: 37px;
 margin-left: 40%;
}

.navigation li{
  margin-right: 12px;
  cursor: pointer;
  font-size: 27px;
}

.navigation p {
  position: relative;
  right: 238%;
  font-size: 22px;
}

.banner{
  position: relative;
}

.navigation ul{
  height: 45px;
  list-style: none !important;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.profil {
  object-fit: cover;
}

.grid-card{
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(3, 1fr);
  object-fit: contain;
}

.profil img {
  width: 400px;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  height: 320px;
}

.pulse:hover {
  border: groove 3px aqua;
}


#iresume{
  position: relative;
  left: 36%;
  content: '';
  width: 7px;

}

.project-status{
  color: green;
  font-size: 16px;

}

@media only screen and (max-width: 500px){

  .video-container{
    height: 0;
    position:relative;
    padding-bottom:56.25%;
    margin-top: 20px;
  }

  .currently-learning{
    height: 8%;
    width: 92%;
  }

  .currently-learning::before{
    font-size: 92px;
  }

  .video-container iframe{
    max-width:100%;
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    top: 0;
  }
  .structure-one{
    max-width: 100%;
    height: auto;
  }

  .video-text{
    display: none;
  }

  .section-title h2 {
    text-align: center;
  }

  .resume-container{
    /*position: relative;*/
    margin-left: -141px;
    height: 0;
    left: 0;
    width: 100%;
    max-width: 5371%;
  }

  .p-title{
    display: none;
  }
  .navigation li:not(:nth-child(6n)){
    display:none;
  }
  .navigation li:nth-child(6n){
    position: absolute;
    right: 86px;
  }

  .grid-card{
    display: block;
  }
  .profil img{
    object-fit: cover;
    height: auto;
  }
}





