


h1, h2, h3, p, ul {
  font-family: 'Open Sans Condensed', sans-serif;

}

.btn {
  font-family: 'Open Sans Condensed', sans-serif;
}


 a{
  color: black;
}

a:hover{
  text-decoration: none;
  color: #000000c7;
  border-bottom: 2px solid currentColor;

}


p {
  padding-top: 20px;
}

.banner {
  color: white;
  text-align: center;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
}

.my-frame{
  position: relative;
  z-index: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 24px;
  top:13px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;

  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #2d2d2b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.video-controls ul{
  display:flex;
 justify-content: space-around;
 color: #da552f;
 margin-top: 10px;
}

.video-controls li{
  font-weight: bold;
  list-style: none;
  font-size: 1.3em;
}



.calltoaction {
  color: white;
  text-align: center;
  height: 300px;
  margin-top: 100px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

  p {
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    line-height: 30px;
  }



.p-title{
  text-align: center;
}


.banner-content{
  position: absolute;
  z-index: 0;
}

.banner img {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;

}

.banner h1 {
  font-size: 82px;
  font-weight: bold;
  color:#ffff;
  text-shadow: 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top:-306px;
  position: absolute;
  white-space: nowrap;
  left:-250px;
 /* font-family: 'Anton', sans-serif;*/
}

.banner p {
  font-size: 40px;
  font-weight: lighter;

  opacity: 0.8;
  margin-bottom: 30px;
  position: absolute;
  z-index: 2;
  color: #ffff;
  white-space: nowrap;
  top: 150px;
  left: -105px;
}

.email-button{
  position: absolute;
  top: 230px;
  left: -64px;
  z-index: 2;
  transition: background-color, .4s;
}

.email-button:hover{
  background-color: #da552f;
  border-color:#da552f;
}



/*card*/

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
  margin-top: 50px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.05);
}


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}


.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


.section-title h2{
  text-align: left;
  margin: 50px;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  -webkit-box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  box-shadow: -1px 17px 23px -17px rgba(0,0,0,0.75);
  z-index: 1;
}
/*footer*/

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  margin-top: 100px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.fa-6 {
  text-align: center;
  font-size: 5em;
  align-items: center;
  display: inline-block;

}


.skills-box {
  background-color: #ffffff;
  text-align: center;
  padding: 40px 20px;
  margin: 10px 10px 10px 10px;

}


.skills-box h3 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  line-height: 25px;



}
.skills-box .list {
  font-size:25px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  line-height: 20px;
  margin: 30px 30px 30px 30px;
  list-style: none;

}




.language-box img{
  align-items: center;
  height: 100px;
  width: 100px !important;
  border-radius: 50%;

}

.language-box {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  text-align: center;
  padding: 40px 20px;
  margin: 0 0 20px;
  margin: 10px 10px 10px 10px;

}


.language-box h3 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  line-height: 25px;
  margin-top: 30px;

}
.language-box p {
  font-size: 15px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  line-height: 20px;
  margin: 30px 30px 30px 30px;
}


/* Main navbar */
.navigation {
 display: flex;
 top: 0;
 background-color: #f7f5f5;
  font-family: 'Open Sans Condensed', sans-serif;
 z-index: 1;
  padding: 0px 30px;
  width:100%;
  margin:0;
  padding: 0;
  position: sticky !important;
  align-items: center;

}

.navigation ul li:nth-child(5){
   font-size: 37px;
   margin-left: 40%;
}



.navigation li{
  margin-right: 12px;
  cursor: pointer;
  font-size: 27px;
}

.navigation p {
  position: relative;
  right: 238%;
  font-size: 22px;
}

.banner{
  position: relative;
}


 /*this navatar styling is for the avatar picture, since we have the youtube vid maybe we dont need it?*/
 /*trying to move the navatar further to the right side of the navbar is more trouble than i thought */


/*.navatar {
  width:4%;
  border-radius: 50%;
}*/

.navigation ul{
  height: 45px;
 list-style: none !important;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}



.profil {

  object-fit: cover;

}

.grid-card{
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 1fr);
}

.profil img {
  width: 400px;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  height: 320px;
}

.pulse:hover {

  border: groove 3px aqua;

}


.info ul {
  margin: 0;
  padding: 0;
  float: right;
  width: 200px;
  margin-left: 40px;
  margin-top: -6px;
  list-style-type: none;
}

.info li {
  margin: 0;
  padding: 0;
  float: left;
  width: 156px;
  background-image: url(../images/bullet.gif);
  background-repeat: no-repeat;
  padding-left: 10px;
  background-position: 0 .5em;
  margin-top: 6px;
}

.btn-linkedin {
  background: #0073b1;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.calltoaction {
  align-items: center;

}


#iresume{
position:relative;
left: 25%;
content: '';
width: 7px;

}

